server {
    server_name example.fr;
    root /path/to/website;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        location ~* /assets/.*\.php$ {
            return 403;
        }
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php8.1-fpm.sock;
    }

    listen 80;
    listen [::]:80;
}