---
import { type InstagramPost, InstagramMediaType } from "@types"

export const prerender = false

const posts = await Astro.locals.runtime.env.STORE.get("INSTAGRAM_POSTS", "json") as InstagramPost[] ?? []
---

<section>
    {posts.map((poste) =>
        <a href={poste.permalink}>
            <img
                src={([InstagramMediaType.IMAGE, InstagramMediaType.CAROUSEL_ALBUM].includes(poste.media_type) ? poste.media_url : poste.thumbnail_url) ?? ''}
                alt="Instagram post"
                width="220"
                height="220"
                loading="lazy"
                decoding="async"
            />
        </a>
    )}
</section>

<style>
    section {
        display: flex;
        gap: 3rem;
        justify-content: space-evenly;
        flex-wrap: wrap;

        a {
            transform: scale(1);
            transition: transform 250ms;

            img {
                border-radius: var(--border-radius);
                width: 100%;
                max-width: 220px;
                aspect-ratio: 1/1;
                object-fit: cover;
                box-shadow: rgba(0, 0, 0, 0.15) 0 8px 16px 0;
            }

            &:hover {
                transform: scale(1.04);
            }
        }
    }
</style>
