/* --- Global --- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
    --background-color: #393939;
    --container: #555555;
    --alt-container: #612626;
    --primary-text: white;
    --secondary-text: #DFDFDF;
    --primary-btn: #BE0000;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-weight: normal;
    color: white;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
    overflow: overlay;
    background-color: var(--background-color);
    color: var(--primary-text);
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.hidden {
    display: none !important;
}

.main-container {
    margin: 0 auto;
    padding: 40px 12px;
    max-width: 1250px;
}


/* --- Super title --- */
.super_title {
    margin: 0 auto 30px;
    max-width: 1120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
}

.super_title::before, .super_title::after {
    border-top: .08em solid;
    content: '';
    flex: 1;
    border-radius: 8px;
}


/* --- Buttons --- */
.btn {
    display: inline-block;
    width: 270px;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    text-decoration: none !important;
    line-height: 2.18em;
    cursor: pointer;
    color: var(--primary-text);
    /*box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .25);*/
    background-color: var(--primary-btn);
    transition: background-color .15s;
}

.btn:hover {
    background-color: rgb(156, 0, 0);
    transition: background-color .15s;
}


/* --- Scroll Bar --- */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px white;
    border: solid 4px transparent;
    border-radius: 14px;
}

::-webkit-scrollbar-button {
    display: none;
}


/* --- Reveal effect --- */
.reveal {
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    transition: .75s all ease;
}

.reveal.active {
    transform: initial;
    opacity: 1;
}


/* --- Header --- */
header {
    z-index: 100000;
    height: 60px;
    padding: 0 12px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 6px 8px rgba(0, 0, 0, 0.11),
        0 8px 16px rgba(0, 0, 0, 0.11);
}

header article {
    margin: 0 auto;
    max-width: 1500px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

header article section:nth-of-type(1) a {
    padding: 2px 10px 2px 6px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 12px;
}

header article section:nth-of-type(1) a img {
    display: block;
    width: auto;
    height: 100%;
    max-height: 54px;
}

header article section:nth-of-type(1) a p {
    font-size: 1.4em;
    font-weight: 600;
}

header article section:nth-of-type(2) a {
    padding: 18px;
    text-decoration: none;
    transition: color .2s;
}

header article section:nth-of-type(2) a:hover {
    color: var(--secondary-text);
}

header article section:nth-of-type(3) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

header article section:nth-of-type(3) a {
    position: relative;
    padding: 14px;
    transition: filter .2s;
}

header article section:nth-of-type(3) a:hover {
    filter: brightness(80%);
}

header article section:nth-of-type(3) a img {
    display: block;
    width: auto;
    height: 18px;
}

.on-air {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--primary-btn);
    filter: brightness(100%);
}

.on-air i {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--primary-btn);
    animation: pulse-scale 2.6s infinite;
}

@keyframes pulse-scale {
    0% {
        opacity: .7;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(2.4);
    }
}


/* --- Main --- */
main {
    width: 100%;
    background-image: url("img/mosaique.png");
    background-attachment: fixed;
}

#accueil h1 {
    margin-bottom: 36px;
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}

#accueil article {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#accueil video {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#accueil section:last-of-type {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 16px;
}

#accueil section:last-of-type > p {
    padding: 0 16px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

#accueil section:last-of-type > div {
    background-color: var(--container);
    border-radius: 8px;
    margin: 16px 0;
    padding: 14px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#accueil section:last-of-type > div hr {
    margin: 14px auto;
    border: 1px solid rgba(255, 255, 255, .15);
    width: 80%;
    border-radius: 8px;
}

#accueil section:last-of-type > div p {
    font-size: 1.2em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
}

#accueil section:last-of-type > div p strong {
    font-size: 1.36em;
    font-weight: 700;
}

#productions {
    background-color: var(--background-color);
}

#main-prod {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

#main-prod article {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 30px;
}

#main-prod article:nth-of-type(even) {
    flex-flow: row-reverse nowrap;
}

#main-prod img {
    display: block;
    width: auto;
    height: 100%;
    max-height: 260px;
    border-radius: 8px;
}

#main-prod article > section:last-of-type div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
}

.new {
    display: inline-block;
    background-color: var(--container);
    border-radius: 8px;
    padding: 6px 12px;
    font-weight: 600;
}

#main-prod article > section:last-of-type h3 {
    font-size: 1.3em;
    font-weight: 600;
}

#main-prod article > section:last-of-type p {
    color: var(--secondary-text);
    font-size: .9em;
    padding: 10px 0;
}

#main-prod article > section:last-of-type .btn {
    margin-top: 26px;
}

#projets {
    background-color: var(--container);
}

#project-banners img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 240px;
    object-fit: cover;
    border-radius: 8px;
}

#project-banners div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 20px auto 0;
    max-width: 360px;
}

#project-banners div hr {
    margin: 0 auto;
    width: 40px;
    border: 3px solid white;
    border-radius: 8px;
}

#association {
    background-color: var(--alt-container);
}

#association article > p {
    color: var(--secondary-text);
    text-align: center;
    margin-bottom: 20px;
}

#association hr {
    margin: 40px auto;
    border: 1px solid rgba(255, 255, 255, .15);
    width: 50%;
    border-radius: 8px;
}

#members {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

#members > div {
    flex: 1 0 10%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#members > div img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

#members > div p {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--secondary-text);
}

#instagram-posts {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

#instagram-posts img {
    flex: 1 0 0;
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

#association article > a {
    display: block;
    margin: 30px auto 0;
}

#contact section {
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 80px;
}

#contact section div h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 8px;
}

#contact section div p:last-of-type strong {
    font-weight: 600;
}

#contact section div p:last-of-type a {
    text-decoration: none;
    transition: filter .2s;
}

#contact section div p:last-of-type {
    margin-top: 20px;
}

#contact section hr {
    margin: auto 0;
    width: 1px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 8px;
}

#contact section > div:last-of-type div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#contact section > div:last-of-type div a {
    position: relative;
    padding: 8px;
    transition: filter .2s;
}

#contact section > div:last-of-type div a:hover,
#contact section div p:last-of-type a:hover {
    filter: brightness(80%);
}

#contact section > div:last-of-type div a .on-air {
    transform: scale(1.6);
    top: 4px;
    right: 6px;
}

#contact section > div:last-of-type div a img {
    width: 36px;
    display: block;
}

#contact section > img {
    width: auto;
    height: 128px;
    display: block;
}


/* --- Footer --- */
footer {
    height: 42px;
    margin: 0 auto;
    padding: 12px;
    max-width: 1250px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-text) !important;
    font-size: .9em;
}

footer p, footer a {
    margin: 0;
    color: var(--secondary-text);
    text-decoration: none !important;
    transition: color .15s;
}

footer a:hover {
    color: var(--primary-text);
}

/* TODO: Ombres sous les éléments */