---
import Translations from "@assets/json/translations.json"

const locale = Astro.currentLocale ?? "fr"
const translation = Translations[locale as keyof typeof Translations].footer
---

<footer>
    <p>
        &copy; <span id="current-year"></span> &nbsp;|&nbsp;
        <a href="/" class="">RvAndCo.fr</a>
    </p>
    <p>
        {translation.createdBy}
        <a href="https://github.com/Minarox">Mathis</a>.
    </p>
</footer>

<script>
    const element = document.getElementById("current-year")!
    const currentYear = new Date().getFullYear()
    element.textContent = currentYear.toString()
</script>

<style lang="scss">
    footer {
        @include full-width-background-color(var(--bg-color));
        @include max-width(var(--max-width-content));
        font-size: 0.9em;
        padding: 0.8rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        color: var(--subtext-color);

        a {
            transition: color 200ms;
            text-decoration: none;
            color: var(--subtext-color);

            &:hover {
                color: var(--text-color);
            }
        }

        p:last-of-type {
            justify-self: end;
        }

        @media (max-width: 450px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            gap: 0.4rem;

            p {
                width: 100%;
                text-align: center;
            }
        }
    }
</style>
